<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# cssflow: http://ogp.me/ns/cssflow#">
  <meta charset="utf-8">
  <title>Practica4</title>
  <meta name="viewport" content="maximum-scale=1">
  <meta content="174863825948497" property="fb:app_id">
  <link href="http://assets.cssflow.com/assets/application-38cdbdf05188c5652607cec8797b8be0.css" media="all" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="http://cdn.cssflow.com/favicon.ico">
  <link rel="apple-touch-icon" href="http://cdn.cssflow.com/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="http://cdn.cssflow.com/apple-touch-icon-72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="http://cdn.cssflow.com/apple-touch-icon-114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="http://cdn.cssflow.com/apple-touch-icon-144.png">
  <link href="http://feeds.feedburner.com/WebInterfaceLab" rel="alternate" title="Subscribe to CSSFlow" type="application/atom+xml">
  <link href="http://www.cssflow.com/snippets/dark-login-form/demo" rel="canonical">
  <meta content="Demo for the “Dark Login Form” code snippet. Fully coded with HTML5 &amp; CSS3. Free for personal and commercial use." name="description">
  <meta content="cssflow:code_snippet" property="og:type">
  <meta content="Dark Login Form" property="og:title">
  <meta content="A dark login form with a custom submit button and plenty of shadows." property="og:description">
  <meta content="http://www.cssflow.com/snippets/dark-login-form/demo" property="og:url">
  <meta content="http://cdn.cssflow.com/snippets/dark-login-form/preview-260.png" property="og:image">
  <meta content="summary" name="twitter:card">
  <meta content="@CSSFlow" name="twitter:site">
  <meta content="http://www.cssflow.com/snippets/dark-login-form/demo" name="twitter:url">
  <meta content="http://cdn.cssflow.com/snippets/dark-login-form/preview-260.png" name="twitter:image">
  <meta content="@tibc" name="twitter:creator">
  <meta content="Dark Login Form · CSS Demo" name="twitter:title">
  <meta content="A dark login form with a custom submit button and plenty of shadows." name="twitter:description">
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body class="demo">
  <header class="header demo-header">
    <div class="row">
      <a href="/" class="header-logo">Practica 4</a>
      <div class="demo-nav">
  
          <div class="demo-nav-links">
          </div>
        </div>
      </div>
      
    </div>
  </header>
  <div class="demo-content">
    
  <link rel="stylesheet" href="stylesheets/login/css/style.css">
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <form id="login" method="post" action="index.html" class="login">
    <p>
      <label for="login">Cliente:</label>
      <input id="nombre" type="text" name="login" value="">
    </p>

    <p>
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" value="">
    </p>

    <p class="login-submit">
      <button type="submit" class="login-button">Login</button>
    </p>

  </form>  


  </div>


  <script src="http://assets.cssflow.com/assets/application-d0236768ac0cbb5adc1608b675c2b8fc.js" async></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-5544833-10', 'cssflow.com');
  ga('send', 'pageview');
</script>

  <script src="http://assets.cssflow.com/ads.js"></script>

  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/socket.io.js"></script>
  
  <script>
    jQuery(function($){
      var socket = io.connect('http://192.168.122.1:3002');
      var $loginForm = $('#login');
      var $nombre = $('#nombre');
      var $password = $('#password');

      $loginForm.submit(function(e){
        e.preventDefault();
        socket.emit('login', $nombre.val(), $password.val());
        $password.val('');
        //alert($nombre.val());
      });

      socket.on('confirmacion', function(valor){
        if(valor == 1){
         window.location.href = "cliente";
       }
       else if (valor == 2){
         window.location.href = "admin";
       }
       else{
        alert("Usuario o contrasena invalida");
       }
      });

    });
  </script>

</body>
</html>
